[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
invoke = "*"
pyyaml = "*"
paramiko = "*"
scp = "*"
sh = "*"

[dev-packages]
black = "*"
flake8 = "*"
pyinvoke = "*"
pylint = "*"
rope = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
